<div class="jumbotron">
<h1 >BIENVENIDO</h1>
<p >INGRESA TU USUARIO Y CONTRASEÑA</p>
<p >QUE ESPERAS REGISTRATE  <%= link_to "!AHORA¡" , "http://www.petardas.com",class: 'btn btn-success'%>. </p>

</div>
